
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E ;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}

/* header styles */


/* navber related styles */
.navber{
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}
.nav-link {
    text-decoration: none;
    color: #424242;
}

.navber, .banner {
    max-width: 1440px;
    padding: 0 100px;
    margin: 0 auto;
}

.brand {
    font-weight: 700;
    font-size: 45px;
}

/* banner related style */
.banner-contant {
    max-width: 850;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-contant h1 {
    font-weight: bold;
    font-size: 4rem;
    color: #131313;
}
.banner-contant p {
    font-size: 16px;
}
.banner-img {
    width: 100%;
}

/* teams and Features related style */

.teams{
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}
.feature-title {
    font-size: 2.8rem;
    font-weight: 700;
}
.feature-discription{
    font-weight: 500;
    color: #727272;
}
.quick-list {
    color: #727272;
}
.quick-3{
    color: #FF900E;
}

/* responsive media query */

@media screen and (max-width: 576) {
    .navber,
    .nav-links 
    .teams {
        flex-direction: column;
    }
    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
